
/* Coolors Palette URL: https://coolors.co/f5ffc6-b4e1ff-ab87ff-fface4-c1ff9b */

:root {
    --primary-bg-color: #f5ffc6; /* cream */
    --secondary-bg-color: #b4e1ff; /* Uranian Blue */
    --text-color: #ab87ff; /* Tropical Indigo */
    --accent-color: #fface4; /* Lavander Pink */
}



footer {
    background-color: var(--accent-color);
    color: white;
    padding: 20px;
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif; /* Body text */
    background-color: var(--background-color);
    color: var(--secondary-color);
}

h1, h2 {
    font-family: 'Oswald', sans-serif; /* Headings */
    color: var(--primary-color);
}


/* Additional styles */


.sociallinks a {
    text-decoration: none;
}

/* Style for the hero section */
.hero {
    position: relative;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center; /* Center the content horizontally */
}

.hero img {
    display: block;
    width: 90%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); /* Center the title horizontally */
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero article {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); /* Center the article horizontally */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px;
    max-width: 50%;
    font-size: 1.2rem;
    line-height: 1.5;
}

.hero article img {
    float: right;
    margin-left: 10px;
    width: 150px;
    height: auto;
}


/* Style for Adventure Section */
section img {
    display: block;  /* Make images stack vertically */
    width: 15%;     /* Ensure the images fill the container width */
    height: auto;    /* Maintain the aspect ratio of the images */
    margin-bottom: 20px; /* Add spacing between the images */}